// Variables

$base-font-size: 14px;
$base-line-height: 20px;


// Mixins

@mixin placeholder() {
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}


// Scaffolding


// Typography


// Grid system


// Forms

input[type="number"] {
  @extend %form-control;
}

.help-block {
  @extend %help-block;
}


// Buttons

button {
  @extend %btn;
}

button[type="submit"] {
  @extend %btn--primary;
}


// Component animations

.collapse {
  @extend %collapse;
}

.in {
  @extend %in;
}


// Input groups

.input-group {
  @extend %input-group;

  > span {
    @extend %btn;
    @extend %input-group__addon;
  }
}


// Navs


// Navbar

header {
  @extend %header;

  > h1 {
    @extend %header__brand;
  }

  > .collapse {
    @extend %header__collapse;

    > ul {
      @extend %nav;
      @extend %header__nav;
    }
  }

  > button {
    @extend %header__toggle;;
  }
}


// Jumbotron

.jumbotron {
  @extend %jumbotron;
  .yes & {
    @extend %jumbotron-success;
  }
  .maybe & {
    @extend %jumbotron-warning;
  }
  .no & {
    @extend %jumbotron-danger;
  }
}
