//@import "overrides";
//@import "ursatz/app/styles/ursatz/ursatz";
//@import "theme";

.jumbotron {
  .no & {
    background-color: red;
  }

  .maybe & {
    background-color: yellow;
  }

  .yes & {
    background-color: green;
  }
}
