@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";

.navbar-brand,
.jumbotron h1 {
    font-family: 'Sansita One', $font-family-sans-serif;
}

.jumbotron {
    h1 {
        text-align: center;
        text-transform: capitalize;
    }

    .yes &,
    .maybe &,
    .no & {
        h1 {
            color: #fff;
        }
    }

    .yes & {
        background-color: $brand-success;
    }

    .maybe & {
        background-color: $brand-warning;
    }

    .no & {
        background-color: $brand-danger;
    }
}
