<label for="high">High</label>
<input type="number" name="high" id="high" class="form-control" min="0" max="100" value="{{high}}" placeholder="High">

<label for="low">Low</label>
<input type="number" name="low" id="low" class="form-control" min="0" max="100" value="{{low}}" placeholder="Low">

<label for="precip">Precipitation</label>
<input type="number" name="precip" id="precip" class="form-control" min="0" max="100" value="{{precip}}" placeholder="Precip">

<button id="submit" class="btn btn-primary js-submit">Submit</button>
